<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head"></head>
<body>
<div class="container-fluid">
    <nav th:include="layout/navbar"></nav>
</div>
<div class="container mt-4">
    <div class="row">
        <h1 class="col-12 text-center my-4">
            Liste des livres disponibles
        </h1>
    </div>
    <div class="row">
        <table class="table" >
            <thead>
            <tr>
                <th scope="col">ISBN</th>
                <th scope="col">Titre</th>
                <th scope="col">Auteur</th>
                <th scope="col">Editeur</th>
                <th scope="col">Année</th>
                <th scope="col">Disponibilité</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
</div>
<script th:inline="javascript">
    var books = JSON.parse([[${books}]]);
    $( document ).ready(function() {
        var i;
        for (i = 0; i < books.length; i++) {
            $('#table-body').append(
                '<tr>' +
                '   <td>' + books[i]['isbn'] +  '</td>' +
                '   <td>' + books[i]['title'] +  '</td>' +
                '   <td>' + books[i]['author'] +  '</td>' +
                '   <td>' + books[i]['editor'] +  '</td>' +
                '   <td>' + books[i]['year'] +  '</td>' +
                '   <td>' + books[i]['availability'] +  '</td>' +
                '   <td> <a href="/book/update?isbn=' + books[i]['isbn'] + '"><div class="btn btn-primary"> Modifier</div></a>  ' +  '</td>' +
                '   <td> ' +
                '       <form method="POST" action="http://127.0.0.1:8080/booksDelete/'  + books[i]['isbn']  + '">' +
                            '<button type="submit" class="btn btn-danger"> Supprimer</button>' +
                '       </form>' +
                    '</td>' +
                '</tr>'
            )
        }
    });
</script>
</body>
</html>