<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head"></head>
<body>
<div class="container-fluid">
    <nav th:include="layout/navbar"></nav>
</div>
<div class="container">
    <div class="row">
        <h1 class="col-12 text-center my-4">
            Ajouter un nouvel utilisateur
        </h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8 col-12">
            <form id="form">
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <select class="form-control" id="genre" name="genre">
                        <option value="M" selected>Homme</option>
                        <option value="F">Femme</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" value="">
                </div>
                <div class="form-group">
                    <label for="prenom">Prénom</label>
                    <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prenom" value="">
                </div>
                <div class="form-group">
                    <label for="date_de_naissance">Année de naissance</label>
                    <input type="date" class="form-control" id="date_de_naissance" name="date_de_naissance" value="">
                </div>
                <div class="form-group">
                    <label for="adresse">Adresse</label>
                    <input type="text" class="form-control" id="adresse" name="adresse" placeholder="Adresse">
                </div>
            </form>
            <div class="btn btn-primary" id="btn-submit">Submit</div>
        </div>
    </div>
    <script type="text/javascript" src="http://www.turnjs.com/lib/turn.min.js "></script>
    <script>
        $( document ).ready(function() {

            $('#btn-submit').click(function () {
                console.log('click');

                var data = {
                    genre : $('#genre').val(),
                    nom : $('#nom').val(),
                    prenom : $('#prenom').val(),
                    dateDeNaissance : $('#date_de_naissance').val(),
                    adresse : $('#adresse').val()
                }

                var dataString = JSON.stringify(data);


                $.ajax({
                    url: "http://127.0.0.1:8081/readers",
                    type: "POST",
                    data: dataString,
                    dataType : 'json',
                    //processData: false,  // indique à jQuery de ne pas traiter les données
                    contentType: "application/json",   // indique à jQuery de ne pas configurer le contentType
                    success: function() {
                        if(confirm('Utilisateur ajouté avec succès')){
                            window.location.replace("/readers");
                        }
                    },
                    error: function(data) {
                        console.log(data)
                        alert("Une erreur a eu lieu");
                    }
                });
            })
        });
    </script>
</div>
</body>
</html>