<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head"></head>
<body>
<div class="container-fluid">
    <nav th:include="layout/navbar"></nav>
</div>
<div class="container mt-4">
    <div class="row">
        <h1 class="col-12 text-center my-4">
            Liste des lecteurs
        </h1>
    </div>
    <div class="row">
        <table class="table" >
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Genre</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
</div>
<script th:inline="javascript">
    var readers = JSON.parse([[${readers}]]);
    $( document ).ready(function() {
        var i;
        for (i = 0; i < readers.length; i++) {
            $('#table-body').append(
                '<tr>' +
                '   <td>' + readers[i]['id'] +  '</td>' +
                '   <td>' + readers[i]['genre'] +  '</td>' +
                '   <td>' + readers[i]['nom'] +  '</td>' +
                '   <td>' + readers[i]['prenom'] +  '</td>' +
                '   <td>' + readers[i]['dateDeNaissance'] +  '</td>' +
                '   <td> <a href="/readers/update/' + readers[i]['id'] + '"><div class="btn btn-primary"> Modifier</div></a>  ' +  '</td>' +
                '   <td> ' +
                '       <form method="POST" action="127.0.0.1:8080/readersDelete/'  + readers[i]['id']  + '">' +
                            '<button type="submit" class="btn btn-danger"> Supprimer</button>' +
                '       </form>' +
                    '</td>' +
                '</tr>'
            )
        }
    });
</script>
</body>
</html>