<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head"></head>
<body>
<div class="container-fluid">
    <nav th:include="layout/navbar"></nav>
</div>
<div class="container mt-4">
    <div class="row">
        <table>
            <thead>
            <tr>
                <th> ISBN </th>
                <th> Title </th>
                <th> Author </th>
            </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
</div>
<script th:inline="javascript">
    var books = JSON.parse([[${books2}]]);
    $( document ).ready(function() {
        var i;
        for (i = 0; i < books.length; i++) {
            $('#table-body').append(
                '<tr>' +
                '   <th scope="row">' + books[i]['isbn'] +  '</th>' +
                '   <td>' + books[i]['title'] +  '</td>' +
                '   <td>' + books[i]['author'] +  '</td>' +
                '</tr>'
            )
        }
    });
</script>
</body>
</html>