<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head"></head>
<body>
<div class="container-fluid">
    <nav th:include="layout/navbar"></nav>
</div>
<div class="container mt-4">
    <div class="row">
        <h1 class="col-12 text-center my-4">
            Liste des retours
        </h1>
    </div>
    <div class="row">
        <table class="table" >
            <thead>
            <tr>
                <th scope="col">ID du retour</th>
                <th scope="col">ISBN</th>
                <th scope="col">Id du lecteur</th>
                <th scope="col">Date du retour</th>
            </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
</div>
<script th:inline="javascript">
    var returnings = JSON.parse([[${returnings}]]);
    $( document ).ready(function() {
        var i;
        for (i = 0; i < returnings.length; i++) {
            $('#table-body').append(
                '<tr>' +
                '   <td>' + returnings[i]['id'] +  '</td>' +
                '   <td>' + returnings[i]['isbn'] +  '</td>' +
                '   <td>' + returnings[i]['idReader'] +  '</td>' +
                '   <td>' + returnings[i]['returningDate'] +  '</td>' +
                '</tr>'
            )
        }
    });
</script>
</body>
</html>