<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head"></head>
<body>
<div class="container-fluid">
    <nav th:include="layout/navbar"></nav>
</div>
<div class="container mt-4">
    <div class="row">
        <h1 class="col-12 text-center my-4">
            Liste des emprunts
        </h1>
    </div>
    <div class="row">
        <table class="table" >
            <thead>
            <tr>
                <th scope="col">ISBN</th>
                <th scope="col">Id du lecteur</th>
                <th scope="col">Date d'emprunt</th>
                <th scope="col">Retour</th>
            </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
</div>
<script th:inline="javascript">
    var borrownings = JSON.parse([[${borrownings}]]);
    console.log(borrownings);
    $( document ).ready(function() {
        var i;
        var date;
        for (i = 0; i < borrownings.length; i++) {
            if(borrownings[i]['returningDate'] == null){
                date = '   <td><div class="btn btn-primary return" id="' +borrownings[i]['id'] + '">Retour</div></a>  ' +  '</td>'
            }else{
                date = '<td>Retour effecuté</td>'
            }
            $('#table-body').append(
                '<tr>' +
                '   <td>' + borrownings[i]['isbn'] +  '</td>' +
                '   <td>' + borrownings[i]['idReader'] +  '</td>' +
                '   <td>' + borrownings[i]['borrowingDate'] +  '</td>' +
                date +
                '</tr>'
            )
        }
        $('.return').click(function () {
            $.ajax({
                url: "http://127.0.0.1:8080/return/" + $(this).attr('id'),
                type: "POST",
                data: null,
                //processData: false,  // indique à jQuery de ne pas traiter les données
                success: function() {
                    if(confirm('Livre rendu avec succès')){
                        window.location.replace("/reservations");
                    }
                },
                error: function(data) {
                    console.log(data)
                    alert("erreur");
                }
            });
            console.log($(this).id);
        })
    });
</script>
</body>
</html>