<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head"></head>
<body>
<div class="container-fluid">
    <nav th:include="layout/navbar"></nav>
</div>
<div class="container">
    <div class="row">
        <h1 class="col-12 text-center my-4">
            Ajouter un nouveau livre
        </h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8 col-12">
            <form id="form">
                <div class="form-group">
                    <label for="isbn">ISBN du livre</label>
                    <input type="text" class="form-control" id="isbn" name="isbn" placeholder="ID du livre" value="">
                </div>
                <div class="form-group">
                    <label for="id_reader">ID du lecteur</label>
                    <input type="text" class="form-control" id="id_reader" name="id_reader" placeholder="ID du livre" value="">
                </div>
                <div class="form-group">
                    <label for="borrowing_date">Date d'emprunt</label>
                    <input type="date" class="form-control" id="borrowing_date" name="borrowing_date" placeholder="Date d'emprunt" value="">
                </div>
                <div class="form-group">
                    <label for="returning_date">Date de retour</label>
                    <input type="date" class="form-control" id="returning_date" name="returning_date" value="">
                </div>
            </form>
            <div class="btn btn-primary" id="btn-submit">Submit</div>
        </div>
    </div>
    <script type="text/javascript" src="http://www.turnjs.com/lib/turn.min.js "></script>
    <script>
        $( document ).ready(function() {

            $('#btn-submit').click(function () {

                var data = {
                    isbn : $('#isbn').val(),
                    id_reader : $('#id_reader').val(),
                    borrowing_date : $('#borrowing_date').val(),
                    returning_date : $('#returning_date').val()
                }

                var dataString = JSON.stringify(data);


                $.ajax({
                    url: "http://127.0.0.1:8080/books",
                    type: "POST",
                    data: dataString,
                    dataType : 'json',
                    //processData: false,  // indique à jQuery de ne pas traiter les données
                    contentType: "application/json",   // indique à jQuery de ne pas configurer le contentType
                    success: function() {
                        if(confirm('Livre ajouté avec succès')){
                            window.location.replace("/books");
                        }
                    },
                    error: function(data) {
                        console.log(data)
                        alert("erreur");
                    }
                });
            })
        });
    </script>
</div>
</body>
</html>