<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">The french bookstore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBookLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Livres
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownBookLink">
                    <a class="dropdown-item" href="/books">Liste des livres</a>
                    <a class="dropdown-item" href="/book/create">Ajouter un livre</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBookLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Utilisateurs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownBookLink">
                    <a class="dropdown-item" href="/readers">Liste des utilisateurs</a>
                    <a class="dropdown-item" href="/reader/create">Ajouter un utilisateur</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBookLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Réservations
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownBookLink">
                    <a class="dropdown-item" href="/nouvelle-reservation">Prêt d'un livre</a>
                    <a class="dropdown-item" href="/reservations">Liste des réservations</a>
                </div>
            </li>
        </ul>
    </div>
</nav>